@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-forum;
  }
}

@layer components {
  .link-underline {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
  }

  .background-clip__team {
    background: linear-gradient(
      172deg,
      #fff 0 65%,
      rgba(86, 126, 168, 0.1) 65% 100%
    );
  }

  .background__clip {
    background: linear-gradient(
      172deg,
      #fff 0 50%,
      rgba(86, 126, 168, 0.1) 50% 100%
    );
  }

  .card-box-shadow {
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.05);
  }

  .highlight__light {
    background: linear-gradient(
      rgba(255, 255, 255, 0) 0 25%,
      rgba(255, 255, 255, 0.2) 25% 100%
    );

    padding-bottom: 4px;
    background-clip: padding-box;
  }
  .highlight__dark {
    background: linear-gradient(
      rgba(86, 126, 168, 0) 0 25%,
      rgba(86, 126, 168, 0.1) 25% 100%
    );

    padding-bottom: 4px;
    background-clip: padding-box;
  }

  #modal::backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
}
/* DON'T USE IMPORT STATEMENT IF USING WP */
/* @import url('https://fonts.googleapis.com/css2?family=Forum&family=Rubik:wght@400;500&display=swap'); */
